<head>
    <title>PROFIL AARON</title>
    <div>
        <link rel='stylesheet' href='bootstrap.min.css'>
        <link rel='stylesheet' href='Style.css'>
        <center>
        <div class="formatan">
            <h1 class='heading-one'> SELAMAT DATANG DI HALAMAN SAYA YA</h1>
            <img src='file:///D:/DATA/Desktop/Front%20End/Profile%20Page/5e78affab2547d678e4c5458dd931381.gif' width='100%' ><br>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page/Borneo Tourism.jpg" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page/Sociofood.jpg" class="d-block w-100 c">
                  </div>
                  <div class="carousel-item">
                    <img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page/COLEX.jpg" class="d-block w-100">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        </center>
    </div>
</head>
<body>
    <center>
        <div class="formatan2">
            <div style="background-color: darkgray; border:black 2px solid">
                <span class='span-satu'>Nama : </span>
                <span class='span-dua'>Aaron Hani Kartadi</span><br>
                <span class='span-satu'>TTL: </span> 
                <span class='span-dua'>Semarang, 19 Januari 1993</span><br>
                <span class='span-satu'>Hobi : </span>
                <span class='span-dua'>Surfing the net</span><br>
                <span class='span-satu'>Job : </span>
                <span class='span-dua'>PT Telekomunikasi Indonesia, Tbk<span><br>
                <div style="background-color:burlywood;">
                    <img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page/index.jpg" width='110px' title="aaron hani kartadi"><br>
                    <a href="https://github.com/aaronhani"><img src="github.png" width='30px'/></a>
                    <a href="https://gitlab.com/aaronhani"><img src="gitlab-icon-rgb.png" width='30px'/></a>
                    <a href="https://mail.google.com/mail/u/0/#inbox"><img src="file:///D:/DATA/Desktop/Front%20End/Profile%20Page/gmail-11550710131ybg4iycuir.png" width='30px'/></a><br>
                    <a href='https://wa.me/6282214516519'><button type="button" class="btn btn-info btnku">KONTAK SEKARANG</button></a></br>
                </div>
            </div>
        </div>
    </center>
    <script src='bootstrap.bundle.min.js'></script>
    <script src='script.js'></script>
</body>