h1 {
    color:black;
    background-color: cadetblue;
    border: 2px solid black;
    font-size: 22px;
}

p {
    color: red;
}

span {
    color: brown;
}
.span-satu{
    color:brown;
    font-weight:bold
}
.span-dua{
    color:teal;
    font-style:oblique
}